html{
    height: 100%;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    height: 100%;
}

header{
    height: 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-top: 20px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: underline;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.navLabel{
    font-size: 12px;
}

form{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.navForm{
    display: flex;
    align-items: center;
}
nav p{
    font-size: 12px;
}

.button{
    background-color: #18a5b5;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 0px 0px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.spanStyle{
    text-decoration: underline;
    color: #01606b;
}

h1{
    font-size: 24px;
}

main{
    margin-top: 50px;
}

.gridImg{
    width: 300px;
    height: 345px;
}
footer{
    margin-top: 20px;
}

.regForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

main section div form label{
    font-size: 20px;
}

main section div form p{
    font-size: 12px;
}

main section div form {
    padding: 8px;
}

main section div form input{
    height: 30px;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}