<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cocktails blog</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
        <meta charset="utf-8">
    </head>
    <body>
    <div class = "wrapper">
        <header>
            <nav>
                <h1>BestCocktails.com</h1>
                <ul>
                    <li>Gin</li>
                    <li>Vodka</li>
                    <li>Whisky</li>
                    <li>Rum</li>
                    <li>Tequila</li>
                </ul>
                <div>
                    <div class="navForm">
                        <form>
                        <label>Username:</label>
                        <input type="text" name="username">
                        </form>
                        <form>
                            <label>Password:</label>
                            <input type="password" name="password">
                        </form>
                        <a class="loginButton" href="index.html">Login</a>
                    </div>
                    <p>Don't have an account? <a class="spanStyle" href="register.html">Click here</a> to register!</p>
                </div>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
    </body>
</html>