<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cocktails blog</title>
    <link rel="stylesheet" type = "text/css" href="/css/login.css" th:href="@{/css/login.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
    <div class = "wrapper">
        <header>
            <nav>
                <h1><a href="index">BestCocktails.com</a></h1>
                <ul>
                    <li><a href="">Gin</a></li>
                    <li><a href="">Vodka</a></li>
                    <li><a href="">Whisky</a></li>
                    <li><a href="">Rum</a></li>
                    <li><a href="">Tequila</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <div class="regForms">
                    <form method="POST" th:action="@{/login}" th:object="${blogUser}">
                        <label>Username:</label>
                        <input type="username" id = "username" name="username" th:field = "*{username}">
                        <label>Password:</label>
                        <input type="password" name="password" id="password" th:field="*{password}">
                        <br>
                        <p>Don't have an account? <a class="spanStyle" href="register">Click here</a> to register!</p>
                        <button type="submit" class="button">Log In</button>
                    </form>
                </div>
            </section>
        </main>
    </div>
</body>
</html>