<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cocktails blog</title>
    <link rel="stylesheet" type = "text/css" href="/css/register.css" th:href="@{/css/register.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
<div class = "wrapper">
    <header>
        <nav>
            <h1>BestCocktails.com</h1>
            <ul>
                <li><a href="">Gin</a></li>
                <li><a href="">Vodka</a></li>
                <li><a href="">Whisky</a></li>
                <li><a href="">Rum</a></li>
                <li><a href="">Tequila</a></li>
            </ul>
            <div>
                <div class="navForm">
                    <form>
                        <label class="navLabel">Username:</label>
                        <input type="text" name="username">
                    </form>
                    <form>
                        <label class="navLabel">Password:</label>
                        <input type="password" name="password">
                    </form>
                    <a class="button" href="../static/index.html">Login</a>
                </div>
                <p>Don't have an account? <a class="spanStyle" href="register.html">Click here</a> to register!</p>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="regForms">
                <form method="POST" th:action="@{/register}" th:object="${blogUserRequest}">
                    <label>Username:</label>
                    <input type="username" id = "username" name="username" th:field = "*{username}">
                    <label>Password:</label>
                    <input type="password" name="password" id="password" th:field="*{password}">
                    <p>Password must contain at least one number and capital letter</p>
                    <label>Confirm Password:</label>
                    <input type="password" name="confirmPassword" id = "confirmPassword" th:field="*{confirmPassword}">

                   <button type="submit" class="button">Register</button>
                </form>
            </div>
        </section>
    </main>
</div>
</body>
</html>