<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cocktails blog</title>
    <link rel="stylesheet" type = "text/css" href="/css/register.css" th:href="@{/css/register.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
<div class = "wrapper">
    <header>
        <nav>
            <div>
                <h1><a href="index">BestCocktails.com</a></h1>
                <div class="dropdown">
                    <a th:text="${#locale.toLanguageTag().toUpperCase()}"></a>
                    <ul class="dropdown-content">
                        <a class="dropdown-item" th:href="@{''(lang='lt')}"
                           th:unless="${#locale.toString().equals('lt')}">LT</a>
                        <a class="dropdown-item" th:href="@{''(lang='en')}"
                           th:unless="${#locale.toString().equals('en')}">EN</a>
                        <a class="dropdown-item" th:href="@{''(lang='de')}"
                           th:unless="${#locale.toString().equals('de')}">DE</a>
                    </ul>
                </div>
            </div>
            <ul>
                <li><a href="" th:text="#{list.gin}"></a></li>
                <li><a href="" th:text="#{list.vodka}"></a></li>
                <li><a href="" th:text="#{list.whisky}"></a></li>
                <li><a href="" th:text="#{list.rum}"></a></li>
                <li><a href="" th:text="#{list.tequila}"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="regForms">
                <form method="POST" th:action="@{/register}" th:object="${blogUserRequest}">
                    <label th:text="#{login.username}">Username:</label>
                    <input type="username" id = "username" name="username" th:field = "*{username}">
                    <label th:text="#{login.passwod}">Password:</label>
                    <input type="password" name="password" id="password" th:field="*{password}">
                    <label th:text="#{login.confirm}">Confirm Password:</label>
                    <input type="password" name="confirmPassword" id = "confirmPassword" th:field="*{confirmPassword}">
                   <button type="submit" class="button" th:text="#{button.register}">Register</button>
                </form>
            </div>
        </section>
    </main>
</div>
</body>
</html>