<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cocktails blog</title>
    <link rel="stylesheet" type = "text/css" href="/css/editComment.css" th:href="@{/css/editComment.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
<div class = "wrapper">
    <header>
        <nav>
            <div>
                <h1><a href="index">BestCocktails.com</a></h1>
                <div class="dropdown">
                    <a th:text="${#locale.toLanguageTag().toUpperCase()}"></a>
                    <ul class="dropdown-content">
                        <a class="dropdown-item" th:href="@{''(lang='lt')}"
                           th:unless="${#locale.toString().equals('lt')}">LT</a>
                        <a class="dropdown-item" th:href="@{''(lang='en')}"
                           th:unless="${#locale.toString().equals('en')}">EN</a>
                        <a class="dropdown-item" th:href="@{''(lang='de')}"
                           th:unless="${#locale.toString().equals('de')}">DE</a>
                    </ul>
                </div>
            </div>
            <ul>
                <li><a href="" th:text="#{list.gin}"></a></li>
                <li><a href="" th:text="#{list.vodka}"></a></li>
                <li><a href="" th:text="#{list.whisky}"></a></li>
                <li><a href="" th:text="#{list.rum}"></a></li>
                <li><a href="" th:text="#{list.tequila}"></a></li>
            </ul>
            <div>
                <a href="login" class="loginButton" sec:authorize="isAnonymous()" th:text="#{button.login}">Log In</a>
                <div class="dropdown">
                    <p class="dropItem" sec:authorize="isAuthenticated()" th:text="#{hello.title}">
                        <span sec:authentication="principal.username"> </span>
                    </p>
                    <div class="dropdown-content">
                        <a href="/articles/create" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="#{dropdown.create}">
                        </a>
                        <a href="/logout" th:text="#{dropdown.logout}"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <form class="leaveCommentDisplay" method="post" th:object="${comment}" th:action="@{/comment/{id}/edit(id = ${comment.id})}">
                <label th:text="#{title.edit.comment}">Edit comment:</label>
                <textarea name="text" rows="5" class="leaveComment" th:text="*{text}"></textarea>
                <button class="createComment" th:text="#{button.update}">Update</button>
            </form>
        </div>
    </main>
    <footer> </footer>
</div>
</body>
</html>