<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Cocktails blog</title>
  <link rel="stylesheet" type = "text/css" href="/css/create.css" th:href="@{/css/create.css}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
<div class = "wrapper">
  <header>
    <nav>
      <h1>BestCocktails.com</h1>
      <ul>
        <li><a href="">Gin</a></li>
        <li><a href="">Vodka</a></li>
        <li><a href="">Whisky</a></li>
        <li><a href="">Rum</a></li>
        <li><a href="">Tequila</a></li>
      </ul>
      <div>
        <div class="dropdown" >
          <p class="dropItem" sec:authorize="isAuthenticated()">
            Hello, <span sec:authentication="principal.username"> </span>
          </p>
          <div class="dropdown-content">
            <a href="/articles/create" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Create Article</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div>
        <form  method="POST" th:action="@{/articles/create}" th:object="${articleRequest}" enctype="multipart/form-data">
          <label>Title:</label>
          <input type="text" name="title" class="title" id="title" th:field = "*{title}">
          <label>Text:</label>
          <textarea name="text" cols="60" rows="25" id="text" th:field = "*{text}"></textarea>

          <label for="drinkCategory">Choose Drink Category:</label>
          <select name="drinks" id ="drinkCategory" th:field ="*{drinkCategory}">
            <option value="GIN">Gin</option>
            <option value="VODKA">Vodka</option>
            <option value="WHISKY">Whisky</option>
            <option value="RUM">Rum</option>
            <option value="TEQUILA">Tequila</option>
          </select>

          <label for="image">Article picture:</label>
          <input type="file" name="image" id="image">

        <button class="postArticleButton" href="">Post Article</button>
        </form>
      </div>
    </section>
  </main>
</div>
</body>
</html>