<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cocktails blog</title>
    <link rel="stylesheet" href="../../static/css/view.css">
    <link rel="stylesheet" type = "text/css" href="/css/view.css" th:href="@{/css/view.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
    <div class = "wrapper">
        <header>
            <nav>
                <h1><a href="index">BestCocktails.com</a></h1>
                <ul>
                    <li><a href="">Gin</a></li>
                    <li><a href="">Vodka</a></li>
                    <li><a href="">Whisky</a></li>
                    <li><a href="">Rum</a></li>
                    <li><a href="">Tequila</a></li>
                </ul>
                <div>
                    <a href="login" class="loginButton" sec:authorize="isAnonymous()">Log In</a>
                    <div class="dropdown" >
                        <p class="dropItem" sec:authorize="isAuthenticated()">
                            Hello, <span sec:authentication="principal.username"> </span>
                        </p>
                        <div class="dropdown-content">
                            <a href="/articles/create" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Create Article</a>
                            <a href="/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="article" th:object="${article}">
                <h3 th:text="${article.getTitle()}"></h3>
                <article class="articleSection">
                    <img class="img" th:src="@{/uploads/{image}(image = ${article.image})}">
                    <div th:text="${article.getText()}"></div>
                </article>
                <div class="crud" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/articles/{id}/delete(id = ${article.id})}" class="crudItem">delete</a>
                    <a th:href="@{/articles/{id}/edit(id = ${article.id})}" class="crudItem">edit</a>
                </div>
            </section>
            <section>
                <h4 class="commentTitle">Comments</h4>
                <div>
                    <div class = "commentStyle" th:each="comments: ${commentList}">
                        <div class="commentHeader">
                            <div class="commentAuthor" th:text="${comments.getCreator()}">Autorius</div>
                            <div th:text = "${comments.getCreatedAt()}"></div>
                        </div>
                        <div class="commentText" th:text="${comments.getText()}"></div>
                        <div class="crud">
                            <a th:href="@{/comment/{id}/delete(id = ${comments.id})}" class="crudItem" th:if="${#authorization.expression('hasRole(''ADMIN'')')} or ${#authentication.getName()} == ${comments.creator}">delete</a>
                            <a th:href="@{/comment/{id}/edit(id = ${comments.id})}" class="crudItem" th:if="${#authentication.getName()} == ${comments.creator} ">edit</a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form class="leaveCommentDisplay" method="post" th:action="@{/articles/{id}/view(id = ${article.id})}" th:object="${newCommentRequest}">
                        <label>Leave a comment:</label>
                        <textarea name="text" rows="5" class="leaveComment" id="text" th:field ="*{text}"></textarea>
                        <button class="createComment" th:href="@{/articles/{id}/view(id = ${article.id})}">Leave Comment</button>
                    </form>
                </div>
            </section>
        </main>
        <footer> </footer>
    </div>
</body>
</html>